/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #9356DC;
  --background-color: #EAEAEA;
  --background-second-color: #F6F6F6;
  --main-second-color: #FF79DA;
  --main-tertiaire-color: #99E2D0;
  --pins-color: #7E7E7E;
  --footer-color: #353535;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background-color: var(--background-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.2) inset;
}
header .header__logo {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header__pins {
  padding-right: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background-second-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav__rechercher {
  height: 20px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-weight: bold;
  border-radius: 40px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--main-second-color)), to(var(--main-color)));
  background: linear-gradient(var(--main-second-color), var(--main-color));
}
nav .btn {
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 40px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: #FF79DA;
  position: relative;
  z-index: 1;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
nav .btn:hover .btn__bg {
  opacity: 0;
}
nav .btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--main-second-color)), to(var(--main-color)));
  background: linear-gradient(var(--main-second-color), var(--main-color));
  opacity: 1;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 40px;
}

h1 {
  width: 75%;
  text-align: center;
}

p {
  width: 85%;
  text-align: center;
}

#titre {
  margin: 15px;
}

.titre {
  margin: 15px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fonctionnement .fonctionnement__ordre {
  background: var(--main-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  position: absolute;
  left: 10%;
}
.fonctionnement .fonctionnement__boutton {
  height: 72px;
  background-color: var(--background-second-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .fonctionnement__pins2 {
  color: var(--pins-color);
  padding-right: 25px;
  font-size: 1.2em;
}

.restaurants {
  background-color: var(--background-second-color);
  padding-top: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.restaurants .restaurants__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.8fr 0.2fr;
  grid-template-columns: 1.8fr 0.2fr;
  -ms-grid-rows: 150px 40px 40px;
  grid-template-rows: 150px 40px 40px;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
.restaurants .restaurants__card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.restaurants .restaurants__card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.restaurants .restaurants__card > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.restaurants .restaurants__card > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.restaurants .restaurants__card > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.restaurants .restaurants__card > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.restaurants a {
  color: black;
  text-decoration: none;
}
.restaurants a:hover {
  color: var(--main-color);
  text-decoration: none;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}
.box1 .box1__img {
  height: 100%;
  width: 100%;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box1 .restaurants__nouveau {
  position: absolute;
  right: 5%;
  margin: 10px;
  background-color: var(--main-tertiaire-color);
  padding: 6px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--pins-color);
  border-radius: 3px;
}

.box2 {
  font-weight: bold;
  padding-left: 20px;
}

.box3 {
  padding-left: 20px;
}

.box4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

footer {
  background-color: var(--footer-color);
  color: white;
  padding: 15px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: var(--main-color);
  -webkit-transition: all 600ms;
  transition: all 600ms;
}
footer .footer__img {
  color: white;
  height: 20px;
  padding-bottom: 15px;
}

.coeur {
  color: #FF79DA;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.coeur:hover .coeur__bg {
  opacity: 0;
}
.coeur__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  opacity: 1;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 40px;
  font-weight: bold;
}

.icone_coeur {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-top: 15px;
}
.icone_coeur--empty {
  position: absolute;
  color: black;
}
.icone_coeur--full {
  position: absolute;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.icone_coeur:hover .icone_coeur--full {
  opacity: 1;
}
.icone_coeur:hover .icone_coeur--empty {
  opacity: 0;
}