/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

.content {
    max-width: 1440px;
}

:root {
    --main-color: #9356DC;
    --background-color: #EAEAEA;
    --background-second-color: #F6F6F6;
    --main-second-color: #FF79DA;
    --main-tertiaire-color: #99E2D0;
    --pins-color: #7E7E7E;
    --footer-color: #353535;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header__location {
        display: flex;
        justify-content: center;
        height: 50px;
        background-color: var(--background-color);
        align-items: center;
        box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.20) inset;
    }

    .header__logo {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: contain;
    }

    .header__pins {
        padding-right: 5px;
    }

}


nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-second-color);
    align-items: center;

    .nav__rechercher {
        height: 20px;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 50px;
        font-weight: bold;
        border-radius: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(var(--main-second-color), var(--main-color));
    }


    $clr-btn: #FF79DA;

    .btn {
        margin-top: 15px;
        margin-bottom: 50px;
        border-radius: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        background-color: $clr-btn;
        position: relative;
        z-index: 1;
        font-weight: bold;
        color: white;
        text-decoration: none;

        &:hover {
            & .btn__bg {
                opacity: 0;

            }
        }

        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(var(--main-second-color), var(--main-color));
            opacity: 1;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 40px;
        }
    }



}

h1 {
    width: 75%;
    text-align: center;

}

p {
    width: 85%;
    text-align: center;
}

#titre {
    padding: 15px;
    font-size: 1.6em;
    background-color: var(--background-second-color);

}

.titre {
    margin: 15px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

    .fonctionnement__ordre {
        background: var(--main-color);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: white;
        text-align: center;
        position: relative;
        left: -15%;
    }

    .fonctionnement__boutton {
        height: 72px;
        background-color: var(--background-second-color);
        display: flex;
        width: 300px;

        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

    }

    .fonctionnement__pins2 {
        color: var(--pins-color);
        padding-right: 25px;
        font-size: 1.2em;


    }

    .fonctionnement__pins2--pink {
        color: var(--main-color);
        padding-right: 25px;
        font-size: 1.2em;
    }

}

.restaurants {
    background-color: var(--background-second-color);
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;



    .restaurants__card {
        display: grid;
        grid-template-columns: 1.8fr 0.2fr;
        grid-template-rows: 150px 40px 40px;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        margin: auto;
        margin-top: 30px;
    }


    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: var(--main-color);
        text-decoration: none;

        transition: all 600ms;
    }


}

.box1 {
    grid-column: 1/3;
    grid-row: 1/2;


    .box1__img {
        height: 100%;
        width: 100%;
        text-align: center;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

    .restaurants__nouveau {
        position: relative;
        right: -80%;
        top: -80%;
        width: 60px;
        background-color: var(--main-tertiaire-color);
        padding: 6px;
        font-size: 0.8em;
        font-weight: bold;
        color: var(--pins-color);
        border-radius: 3px;

    }


}

.box2 {
    font-weight: bold;
    padding-left: 20px;

}

.box3 {
    padding-left: 20px;

}

.box4 {
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;

}



footer {
    background-color: var(--footer-color);
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: var(--main-color);
        transition: all 600ms;
    }



}

.footer-img {
    color: white;
    height: 20px;
    padding-bottom: 15px;
}





$clr-btn2: #FF79DA;

.coeur {

    color: $clr-btn2;
    position: relative;
    z-index: 1;
    font-weight: bold;


    &:hover {
        & .coeur__bg {
            opacity: 0;


        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: black;
        opacity: 1;
        z-index: -1;
        transition: opacity 250ms;
        border-radius: 40px;
        font-weight: bold;
    }
}

.icone_coeur {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;

    &--empty {
        position: absolute;
        color: black;
    }

    &--full {
        position: absolute;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
    }

    &:hover &--full {
        opacity: 1;

    }

    &:hover &--empty {
        opacity: 0;
    }
}

.footer_logo_media2 {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media (min-width: 1024px) {

    .fonctionnement {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .fonctionnement__boutton {
            width: 300px;

        }
    }

    .restaurants {

        flex-direction: row;
        flex-wrap: wrap;

        .restaurants__card {
            width: 490px;
        }
    }

    footer {

        flex-direction: row;
        justify-content: right;
        justify-content: space-between;

        a {
            font-size: 0.8em;
        }

    }

    .footer_logo_media {
        width: 40%;

    }

    .footer_logo_media2 {
        display: inline;
    }

    .footer_media {
        padding-right: 10px;
    }

    .footer_media2 {
        padding-right: 10px;
    }

    .footer-img {
        display: none;
    }

    .footer-img-media {
        height: 20px;

    }
}