/****** General ***********/
@keyframes fadeinheart {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        position: absolute;
        left: -5000px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes bgcolor {
    0% {
        background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0) 0%, rgba(187, 98, 219, 0) 66%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.452) 0%, rgba(187, 98, 219, 0.452) 66%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.582) 0%, rgba(186, 98, 219, 0.582) 66%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.747) 0%, rgba(187, 98, 219, 0.74) 66%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.918) 0%, rgba(187, 98, 219, 0.836) 66%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
        font-weight: 900;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.content {
    max-width: 1440px;

}



// Mes variables

$main-color: #9356DC;
$background-color: #EAEAEA;
$background-second-color: #F6F6F6;
$main-second-color: #FF79DA;
$main-tertiaire-color: #99E2D0;
$pins-color: #008766;
$footer-color: #353535;
$bg-btn: #FF79DA;
$white: white;
$black: black;


body {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.contenu {
    animation: fadein 1s linear;
    animation-delay: 0.8s;
    animation-fill-mode: both;
}

.section_left {
    &__bar {
        animation: animation_plat 500ms;
    }
}

@keyframes animation_plat {
    from {

        transform: translateX(-2000px);
    }

    to {
        transform: translateX(0px);
    }
}

.section_right {



    &__bar {
        animation: animation_plat2 500ms;
    }
}

@keyframes animation_plat2 {
    from {

        transform: translateX(20000px);
    }

    to {
        transform: translateX(0px);
    }
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header__location {
        display: flex;
        justify-content: center;
        height: 50px;
        background-color: $background-color;
        align-items: center;
        box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.20) inset;
    }

    .header__logo {
        height: 40px;
        margin: 20px 0 20px 0;
        object-fit: contain;
    }

    .header__pins {
        padding-right: 5px;
    }

}


nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $background-second-color;
    align-items: center;

    .nav__rechercher {
        height: 20px;
        padding: 20px;
        margin: 15px 0 50px 0;
        font-weight: bold;
        border-radius: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient($main-second-color, $main-color);
    }

    .btn {
        margin-top: 15px;
        margin-bottom: 50px;
        border-radius: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        background-color: $bg-btn;
        position: relative;
        z-index: 1;
        font-weight: bold;
        color: $white;
        text-decoration: none;

        &:hover {
            & .btn__bg {
                opacity: 0;

            }
        }

        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient($main-second-color, $main-color);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            opacity: 1;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 40px;
        }
    }



}

h1 {
    width: 75%;
    text-align: center;

}

#titre {
    padding: 15px;
    font-size: 1.6em;
    background-color: $background-second-color;

}

.titre {
    margin: 15px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

    .fonctionnement__ordre {
        background: $main-color;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: $white;
        text-align: center;
        position: relative;
        left: -15%;
    }

    .fonctionnement__boutton {
        height: 72px;
        background-color: $background-second-color;
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

    }

    .fonctionnement__pins2 {
        color: $pins-color;
        padding-right: 25px;
        font-size: 1.2em;
    }

    .fonctionnement__pins2--pink {
        color: $main-color;
        padding-right: 25px;
        font-size: 1.2em;
    }
}

.restaurants {
    background-color: $background-second-color;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

    .restaurants__card {
        display: grid;
        grid-template-columns: 1.8fr 0.2fr;
        grid-template-rows: 150px 40px 40px;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        margin: auto;
        margin-top: 30px;
    }


    a {
        color: $black;
        text-decoration: none;
    }

    a:hover {
        color: $main-color;
        text-decoration: none;

        transition: all 600ms;
    }


}

.box1 {
    grid-column: 1/3;
    grid-row: 1/2;

    .box1__img {
        height: 100%;
        width: 100%;
        text-align: center;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .restaurants__nouveau {
        position: relative;
        right: -80%;
        top: -80%;
        width: 60px;
        background-color: $main-tertiaire-color;
        border-radius: 3px;
        padding: 6px;
        font-size: 0.8em;
        font-weight: bold;
        color: $pins-color;


    }


}

.box2 {
    font-weight: bold;
    padding-left: 20px;

}

.box3 {
    padding-left: 20px;

}

.box4 {
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;

}

footer {
    background-color: $footer-color;
    color: $white;
    padding: 15px;
    display: flex;
    flex-direction: column;

    a {
        color: $white;
        text-decoration: none;
    }

    a:hover {
        color: $main-color;
        transition: all 600ms;
    }
}

.footer-img {
    color: $white;
    height: 20px;
    padding-bottom: 15px;
}

.icone_coeur {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;

    &--empty {
        position: absolute;
        color: $black;
    }

    &--full {
        position: absolute;
        opacity: 0;
        background: linear-gradient($main-second-color, $main-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
    }

    &:hover &--full {
        opacity: 1;

    }

    &:hover &--empty {
        opacity: 0;
    }
}

.footer_logo_media2 {
    display: none;
}

.titre_restaurant {
    background-color: $background-second-color;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    height: 80px;
    top: -50px;
    position: relative;
    width: 100%;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.5em;
        font-weight: bold;

    }
}

.titre_restaurant2 {
    display: flex;
    width: 100%;

}

.heart_position {
    padding-left: 80%;
    position: absolute;
    top: 320px;
    animation: fadeinheart 2s;
}

.posi {
    position: absolute;
}

.my-heart-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 400ms;


}

.my-heart-full:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient($main-second-color, $main-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.logo {
    background-image: url("../images/logo/ohmyfood.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin: 20px;

    a {
        color: $black;

    }

    i {
        margin-top: 25px;
    }
}

.restaurant-img {
    background-size: cover;
    height: 275px;
    width: 100%;
}

.palette {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");

}

.enchantee {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");

}

.francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.delice {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}



.main {
    background-color: $background-second-color;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.menu-categorie {
    margin: auto;
}

.menu-categorie h2 {
    text-transform: uppercase;
    font-weight: 0;
    font-size: 1.2em;
}

.entree {
    margin-bottom: 2em;

    h2 {
        padding-left: 25px;
    }

}

.menu-categorie h2::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #99E2D0;
}

.menu-card {
    animation-fill-mode: both;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 20px 0 10px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 80%;
    box-shadow: -1px 6px 10px 2px rgba(166, 166, 166, 0.34);
    margin-left: auto;
    margin-right: auto;
}

.menu-card_validate {
    position: absolute;
    text-align: center;
    right: -100px;
    top: 0;
    width: 100px;
    height: 95px;
    background-color: #99E2D0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out;
}

.menu-card_validate i {
    color: #fff;
    font-size: 1.5em;
}

.menu-card:hover {
    cursor: pointer;
}

.menu-card:hover .menu-card_validate {
    right: 0px;
    transition: 0.7s ease-in-out;
    z-index: 2;
}

.menu-card:hover .menu-card_validate i {
    animation: rotate 0.2s linear;
    animation-delay: 0.3S;
}

.menu-card_content {
    width: 100%;
    transition: 0.8s ease-in-out;
}

.menu-card_content:hover {
    width: calc(100% - 100px);
    transition: 0.7s ease-in-out;
}

.menu-card_title h3 {
    font-family: "Roboto";
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-card_title p {
    margin: 0;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-card_text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: bold;
    }
}



.menu-card_text2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


    p {
        width: 50px;
    }
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media (min-width: 1024px) {

    .fonctionnement {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .fonctionnement__boutton {
            width: 300px;

        }
    }


    .titre_restaurant {
        text-align: center;
    }

    .heart_position {
        padding-left: 670px;
        top: 520px;

    }

    .restaurant-img {
        background-size: cover;
        background-position: center center;
        height: 475px;

    }

    .restaurants {

        flex-direction: row;
        flex-wrap: wrap;

        .restaurants__card {
            width: 490px;
        }
    }

    footer {

        flex-direction: row;
        justify-content: right;
        justify-content: space-between;

        a {
            font-size: 0.8em;
        }

    }

    .footer_logo_media {
        width: 40%;

    }

    .footer_logo_media2 {
        display: inline;
    }

    .footer_media {
        padding-right: 10px;
    }

    .footer_media2 {
        padding-right: 10px;
    }

    .footer-img {
        display: none;
    }

    .footer-img-media {
        height: 20px;

    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid $main-color;
    width: 160px;
    height: 160px;
    animation: rotate 1s linear infinite;
    position: absolute;
}

.loader2 {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid $bg-btn;
    width: 200px;
    height: 200px;
    animation: rotate2 1s linear infinite;
    position: absolute;
}

.loader3 {
    color: black;
    position: absolute;
    font-weight: bold;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;

}

.loader-general {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s linear;
    animation-delay: 0.8s;
    animation-fill-mode: both;
    width: 100%;
    height: 100vh;
}